[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
lightgbm = "*"
jupyterlab = "*"
matplotlib = "*"
tqdm = "*"
ipywidgets = "*"
joblib = "*"
xgboost = "*"
bayesian-optimization = "*"
catboost = "*"
shap = "*"
seaborn = "*"
eli5 = "*"
altair = "*"
category-encoders = "*"
typing = "*"
networkx = "*"
numba = "*"
tensorflow = "*"
gensim = "*"
pyarrow = "*"

[requires]
python_version = "3.7"
