[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
lightgbm = "*"
jupyterlab = "*"
matplotlib = "*"
tqdm = "*"
ipywidgets = "*"
joblib = "*"

[requires]
python_version = "3.7"
